body {
    background-image: url("pizzabackground.jpg");
}

h1 {
    color: black;
    background-color: dimgrey;
    text-align: center;
    margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
}

.tabs {
    margin: 10px;
}

.tab-content {
    background-color: tan;
}

hr {
    margin-top: 0;
    border: 3px solid #000;
    margin-left: 10px;
    margin-right: 10px;
}

