body {
    background-image: url("pizzabackground.jpg");
    font-family: Arial;
}

h1 {
    background-color: dimgrey;
    text-align: center;
    margin: auto;
    width: 20%;
    border: 3px solid black;
    padding: 10px;
}

.tab-content {
    background-color: tan;
    opacity: 95%;
}

hr {
    margin-top: 0;
    border: 1px solid #000;
    margin-left: 10px;
    margin-right: 10px;
}

#tabs {
    background-color: tan;
}

#review {
    font-weight: bolder;
}

a {
    font-weight: bold;
}